<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input 
        matInput 
        name="title"
        type="text"
        [ngModel]="post.title"
        required
        #title="ngModel"
        placeholder="Post Title"
      >
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput 
        name="content" 
        cols="30" 
        rows="10"
        [ngModel]="post.content"
        required
        #content="ngModel"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <button 
      type="submit"
      mat-raised-button 
      color="accent"
      style="margin-top: 1rem;"
    >Save Post</button>
  </form>
</mat-card>