@media only screen and (max-width: 450px) {
  p {
    margin: 0;
  }
  .post-creator {
    font-size: 13px;
    margin-bottom: 5px;
    color: #111;
  }
  .post-title,
  .post-content {
    font-size: 16px !important;
    padding: 7px 0;
  }
  .post-header {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
  color: #f1f1f1;
  font-family: 'Roboto';
  font-size: 16px;
  @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
}

.post-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  font-size: 18px;
}

.creator-link {
  color: #3286da;
}

.creator-link:hover {
  text-decoration: underline;
}

.post-content {
  font-size: 18px;
}

.post-image {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 15px;
}

.post-image img {
  width: auto;
  max-height: 400px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

mat-paginator {
  margin-top: 1rem;
}
